{% extends "layout.html" %}

{% block content %}

<div class="container c">
    <br>
    <br>
    <div class="container color shadow p-3 mb-5">
        <h1>Bebidas</h1>
    </div>
    <!--Fila #1-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/bebidas/Coke.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">Cocacola</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/bebidas/7up.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">7UP</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/bebidas/fanta.png" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">Fanta</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/bebidas/sprite.png" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">Sprite</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--Fila #2-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/bebidas/UVA.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">Tropical(Uva)</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/bebidas/fresa.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">Tropical(Fresa)</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/bebidas/Crem.png" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">Crema Soda</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/bebidas/agua.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">Agua</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--Fila #3-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/bebidas/jugoG.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">Jugo de Guayaba</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/bebidas/jugoN.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">Jugo de Naranja</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card c-line">
                <img src="/static/img/bebidas/horchata.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">Horchata</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/bebidas/cebad.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">Cebada</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}