{% extends "layout.html" %}

{% block content %}

<div class="container c">
    <br>
    <br>
    <div class="container color shadow p-3 mb-5">
        <h1>Complementos</h1>
    </div>
    <!--Fila #1-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/papas/papasF.jpg" class="card-img-top" alt="..." height="225">
                <div class="card-body">
                    <h5 class="card-title">Papas Fritas</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/papas/papasS.jpg" class="card-img-top" alt="..." height="225">
                <div class="card-body">
                    <h5 class="card-title">Papas Sazonadas</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/papas/papasM.jpg" class="card-img-top" alt="..." height="225">
                <div class="card-body">
                    <h5 class="card-title">Papas Mechadas</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/papas/papasQF.jpg" class="card-img-top" alt="..." height="225">
                <div class="card-body">
                    <h5 class="card-title">Papas con Queso Fundido</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--Fila #2-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/vegetales/vegeA.jpg" class="card-img-top" alt="..." height="225">
                <div class="card-body">
                    <h5 class="card-title">Vegetales Asados</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/vegetales/vegeF.jpg" class="card-img-top" alt="..." height="225">
                <div class="card-body">
                    <h5 class="card-title">Vegetales Frescos</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/vegetales/vegeV.jpg" class="card-img-top" alt="..." height="225">
                <div class="card-body">
                    <h5 class="card-title">Vegetales al Vapor</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/vegetales/vegeAg.jpg" class="card-img-top" alt="..." height="225">
                <div class="card-body">
                    <h5 class="card-title">Vegetales Agridulces</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--Fila #3-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/random/dedosQ.jpg" class="card-img-top" alt="..." height="225">
                <div class="card-body">
                    <h5 class="card-title">Dedos de Queso</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/random/arosC.jpg" class="card-img-top" alt="..." height="225">
                <div class="card-body">
                    <h5 class="card-title">Aros de Cebolla</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/random/onionB.jpg" class="card-img-top" alt="..." height="225">
                <div class="card-body">
                    <h5 class="card-title">Blooming Onion</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/random/bayaM.jpg" class="card-img-top" alt="..." height="225">
                <div class="card-body">
                    <h5 class="card-title">Bayas Meloc</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}