{% extends "layout.html" %}

{% block content %}

<div class="container c">
  <br>
  <br>
  <div class="container color shadow p-3 mb-5">
    <h1>Menú de panes</h1>
  </div>
  <!--Fila #1-->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-3">
      <div class="card">
        <img src="/static/img/panes/pan1.jpg" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title">Spicy Fuera de Serie(Res)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/static/img/panes/pan2.jpg" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title">Spicy Fuera de Serie(Pollo)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/static/img/panes/pan3.jpg" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title">Spicy Fuera de Serie(Cerdo)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/static/img/panes/pan4.jpg" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title">Spicy Fuera de Serie(Jamón)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!--Fila #2-->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-3">
      <div class="card">
        <img src="/static/img/panes/pan5.jpg" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title">Spicy Deli(Res)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/static/img/panes/pan6.jpg" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title">Spicy Deli(Pollo)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/static/img/panes/pan7.jpg" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title">Spicy Deli(Cerdo)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/static/img/panes/panes.jpg" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title">Spicy Deli(Jamón)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!--Fila #3-->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-3">
      <div class="card">
        <img src="/static/img/panes/panes.jpg" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title">The Reaper Special(Res)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/static/img/panes/panes.jpg" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title">The Reaper Special(Pollo)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/static/img/panes/panes.jpg" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title">The Reaper Special(Cerdo)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/static/img/panes/panes.jpg" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title">The Reaper Special(Jamón)</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
{% endblock %}